external/GhostFaceNet
__pycache__/
*.py[cod]
.pytest_cache/
capture.jpg
output.jpg
core/__pycache__/
core/src/__pycache__/
test/__pycache__/
weights/det_10g.onnx
weights/w600k_r50.onnx
captures/test.jpg
test/lol.png
data/rollcall.db
data/captures/
data/test.jpg
