TensorFlow 
Keras 
pandas
numpy < 2.0
keras_cv_attention_models
glob2
networkx
tqdm
scikit-learn
scikit-image
opencv-python-headless
protobuf
pyserial
pyfingerprint
gpiozero
lgpio
scikit-fuzzy
qdrant_client == 1.7.3
picamera2
onnxruntime
Flask
Pillow
spidev
